<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <script src="https://cdn.jsdelivr.net/npm/get-css-data@2.1.0/dist/get-css-data.min.js"></script>
    <title>Title</title>
</head>
<body>

<div class="main_contents box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;">
    <div id="sub_content">
        <form>
        <h2 class="col-md-6 offset-md-2 mb-5 mt-4">User Registration</h2>
        <div class="row mb-4">
            <div class="col-md-2"></div>
            <label for="id" class="col-md-2 col-form-label">User ID</label>
            <div class="col-md-4">
                <input type="text" class="form-control" id="id">
            </div>
        </div>
            <div class="row mb-4">
                <div class="col-md-2"></div>
                <label for="userName" class="col-md-2 col-form-label">User Name</label>
                <div class="col-md-4">
                    <input type="text" class="form-control" id="userName">
                </div>
            </div>

            <div class="row mb-4">
                <div class="col-md-2"></div>
                <label for="email" class="col-md-2 col-form-label">Email</label>
                <div class="col-md-4">
                    <input type="email" class="form-control" id="email">
                </div>
            </div>

            <div class="row mb-4">
            <div class="col-md-2"></div>
            <label for="Password" class="col-md-2 col-form-label">Password</label>
            <div class="col-md-4">
                <input type="password" class="form-control" id="password">
            </div>
            </div>

        <div class="row mb-4">
            <div class="col-md-2"></div>
            <label for="confirmPassword" class="col-md-2 col-form-label">Confirm Password</label>
            <div class="col-md-4">
                <input type="password" class="form-control" id="confirmPassword">
            </div>
        </div>
        <div class="row mb-4">
            <div class="col-md-2"></div>
            <label for="userRole" class="col-md-2 col-form-label">User Role</label>
            <div class="col-md-4">
                <select class="form-select" aria-label="Education" id="userRole">
                    <option selected>Admin</option>
                    <option value="1">User</option>
                </select>
            </div>
        </div>
        <div class="row mb-4">
            <div class="col-md-4"></div>

            <div class="col-md-6">
                <button type="submit" class="btn btn-secondary col-md-2" data-bs-toggle="modal" data-bs-target="#exampleModal">Create</button>
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-body">
                                <h5 style="color: rgb(127, 209, 131);">Registered Successfully !</h5>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-success col-md-2" data-bs-dismiss="modal">Ok</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<script>
    /* Loop through all dropdown buttons to toggle between hiding and showing its dropdown content - This allows the user to have multiple dropdowns without any conflict */
    var dropdown = document.getElementsByClassName("dropdown-btn");
    var i;

    for (i = 0; i < dropdown.length; i++) {
        dropdown[i].addEventListener("click", function() {
            this.classList.toggle("active");
            var dropdownContent = this.nextElementSibling;
            if (dropdownContent.style.display === "block") {
                dropdownContent.style.display = "none";
            } else {
                dropdownContent.style.display = "block";
            }
        });
    }
</script>
</body>
</html>