<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="master::header">
    <meta charset="UTF-8">
    <script src="https://cdn.jsdelivr.net/npm/get-css-data@2.1.0/dist/get-css-data.min.js"></script>
    <title th:text="${title}"></title>
</head>
<body class="login-body">
<div class="login-page">
    <div class="form">
        <div class="login">
            <div class="login-header">
                <h1>Welcome!</h1>
            </div>
        </div>
        <form class="login-form" action="/user/login" method="post" >
            <input type="text" placeholder="User Name" name="userId" required/>
            <input type="password" placeholder="Password" name="password" required/>
<!--            <p style="color: red;font-size: 12px;">${message}</p>-->
            <button type="submit">login</button>
            <p class="message">Not registered? <a href="/user/create">Create an account</a></p>
        </form>
    </div>
</div>


<div th:replace="master::footer"></div>

</body>
</html>