<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:fragment="header">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://cdn.jsdelivr.net/npm/get-css-data@2.1.0/dist/get-css-data.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">

    <title>Admin</title>
</head>
<body class="container-fluid bg-dark text-white">

<nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark" th:fragment="navbar">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Root</a>
        <form class="form-inline">
            <input class="form-control mr-sm-2" type="search" placeholder="Search Book Here" aria-label="Search">
            <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">By Author Name</button>
            <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">By Book Name</button>
        </form>
        <div class="btn-group">
            <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" data-display="static" aria-expanded="false">
                For Admin
            </button>
            <div class="dropdown-menu dropdown-menu-lg-right">
                <button class="dropdown-item" type="button">Login</button>
                <button class="dropdown-item" type="button">Logout</button>
            </div>
        </div>
    </div>
</nav>

<div th:fragment="footer">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>

</div>
</body>
</html>