<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="master::footer">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Show All PHoto</h1>
<table >
    <td th:each="photo : ${books}">
        <img th:src="@{/uploads/covers/{bookname}/{imagename} (bookname=${photo.bookName},imagename=${photo.imageName})}"  alt="...">

    <p th:text="${photo.imageName}"></p>
    </td>
</table>
<img src="/uploads/covers/Hello/code.png" alt="..;">
<div th:replace="master::footer"></div>
</body>
</html>