<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="master::header">
    <meta charset="UTF-8">
     <title>Title</title>
</head>
<body class="bg-secondary text-white">
<div th:replace="master::navbar"></div>

<button class="btn btn-primary">Create Category</button>
<button class="btn btn-primary">View Users</button>

<div class="bg-dark text-white">
<table class="table table-hover">
    <h1>Show Our Lists</h1>
    <thead>
    <tr>
        <th scope="col">Id</th>
        <th scope="col">User Name</th>
        <th scope="col">Password</th>
        <th scope="col">Email</th>
        <th scope="col">Role ID</th>
        <th scope="col">Created Date</th>
        <th scope="col">Updated Date</th>

    </tr>
    </thead>
    <tbody>
    <tr>
        <td scope="row">1</td>
        <td>Aung</td>
        <td>111</td>
        <td>1@gmail.com</td>
        <td>User</td>
        <td>1/2/2023</td>
        <td>2/2/2023</td>
    </tr>
    <tr>
        <td scope="row">2</td>
        <td>Kyaw</td>
        <td>222</td>
        <td>2@gmail.com</td>
        <td>Admin</td>
        <td>4/2/2023</td>
        <td>6/2/2023</td>
    </tr>
    <tr>
        <td scope="row">3</td>
        <td>Mg</td>
        <td>333</td>
        <td>3@gmail.com</td>
        <td>User</td>
        <td>8/2/2023</td>
        <td>9/2/2023</td>
    </tr>
    </tbody>
</table>
</div>

<div th:replace="master::footer"></div>
</body>
</html>