<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="master::header">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body class="bg-dark text-white">

<form class="container col-md-6 offset-md-3 mt-3 border border-primary">
    <fieldset>
        <legend class="text-center"><u>Create Category</u></legend>
        <div class="form-group">
            <label for="id" class="col-form-label mt-4">Book ID</label>

            <input type="text" readonly="" class="form-control" id="id" name="id" placeholder="Book ID">

        </div>

        <div class="form-group">
            <label for="bookName" class="form-label mt-4">Book name</label>
            <input type="text" class="form-control" id="BookName" name="bookName" placeholder="Book Name" autocomplete="off">
        </div>
        <div class="form-group">
            <label for="author" class="form-label mt-4">Authors</label>
            <!-- need Author id -->
            <select class="form-select" id="author">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>
        </div>
        <div class="form-group">
            <label for="genre" class="form-label mt-4">Genres</label>
            <!-- need genre id -->
            <select class="form-select" id="genre">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>
        </div>

        <div class="form-group">
            <label for="exampleTextarea" class="form-label mt-4">Descriptions</label>
            <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
        </div>

        <div class="form-group">
            <label for="cover" class="form-label mt-4">Cover Image name</label>
            <input class="form-control" type="file" id="cover">
        </div>

        <button type="submit" class="btn btn-success">Create</button>
    </fieldset>
</form>
<div th:replace="master::footer"></div>

</body>
</html>